<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Тупо лучший сайт</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <style>
        body{
            width: 600px;
            justify-content: center;
            margin: 1rem auto;
        }
    </style>

</head>
<body>

<nav>
    <div class="nav-wrapper">
        <div class="col s12" style="padding: 0.1rem">
            <a th:href="@{/}" class="breadcrumb">Главная</a>
            <a th:href="@{/}" class="breadcrumb">Список пользователей</a>
        </div>
    </div>
</nav>


<div class="container">
    <ul class="collection with-header">
        <li class="collection-header"><h4>Пользователи</h4></li>
        <!--/*@thymesVar id="products" type="java.util.List<com.martirosyan.p2hw6.model.User>"*/-->
        <li  th:each="u: ${users}" class="collection-item">
            <span th:text="${u.id}"></span>
            <span th:text="${u.name}"></span>
        </li>
    </ul>
</div>

<a th:href="@{/products/add}" class="waves-effect waves-light btn"><i class="material-icons left">plus</i>Добавить продукт</a>



<div class="collection">
    <a th:href="@{/products}" class="collection-item">Список продуктов</a>
    <a th:href="@{/users}" class="collection-item">Список пользователей</a>
</div>

</body>
</html>